
.page {
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    font-family: "Inter", "Helvetica Neue", Arial, sans-serif;
    max-width: 1440px;
    background: $background;

    &_theme_dark {
        background: $background_dark;
    }
}

