$titles: #151515;
$titles_theme_dark: #FFFFFF;
$text: #222222;
$text_them_dark: #E6E6E6;
$background: #F4F4F4;
$background_dark: #333333;
$button: #24B47E;
$sizes: ("xs":320px, "sm":576px, "md":768px, "lg":992px, "xl":1200px);